<% layout("/layouts/boilerplate") %>
<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">
          <h3 class="text-center mb-3">Edit Your Listing</h3>
          <form
            method="POST"
            action="/listings/<%= listing._id %>?_method=PUT"
            novalidate
            class="needs-validation"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                name="listing[title]"
                value="<%= listing.title %>"
                type="text"
                class="form-control"
                required
              />
              <div class="valid-feedback">* Title looks good!</div>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                name="listing[description]"
                class="form-control"
                required
              >
        <%= listing.description %></textarea
              >
              <div class="invalid-feedback">
                * Please enter a short description
              </div>
            </div>

            <div class="mb-3">
              Original Listing Image <br />
              <img src="<%= originalImageUrl %>" height="150" />
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">Upload New Image</label>
              <input name="listing[image]" type="file" class="form-control" />
            </div>

            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input
                  name="listing[price]"
                  value="<%= listing.price %>"
                  type="number"
                  class="form-control w-100"
                  required
                />
                <div class="invalid-feedback">* Price shoud be valid</div>
              </div>

              <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input
                  name="listing[country]"
                  value="<%= listing.country %>"
                  type="text"
                  class="form-control w-100"
                  required
                />
                <div class="invalid-feedback">
                  * Country name shoud be valid
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input
                name="listing[location]"
                value="<%= listing.location %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">* Location shoud be valid</div>
            </div>

            <button class="btn add-btn mt-3">Edit</button>
            <button type="reset" class="btn reset-btn mt-3 ms-3">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const listingLocation = "<%= listing.location %>";
</script>
<script src="/js/map.js"></script>
